/*Общие стили*/
.clearfix::after { /*отмета обтекания*/
    clear: both;
}

.wrapper { /*центровщик контента*/
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-image: /*с фоном еще надо поработать*/
        linear-gradient(170deg, #fde848 40%, transparent 40%),
        linear-gradient(5deg, #fde848 30%, white 30%),
        linear-gradient(to bottom, #fde848, #fde848);
    background-size: 100%, 100%, 1000% 1000%;
    background-repeat: no-repeat;
    background-position: 0, 0, 0 1000px;
}

/*кнопка*/
.btn {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #fe3627; 
}

.btn:hover {
    color: inherit;
    background-color: white;
}

.btn:active {
    box-shadow: inset 1px 1px 2px 0 #333;
    opacity: 0.9;
}

/*стили шапки*/

.page-header {
    padding-top: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;

    box-shadow: #333 0 0 10px 0px;
}

.header-top {
    display: flex;
    justify-content: space-around
}

.header-top p {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
}

.header-description {
    text-align: left;
}

.header-logo {
    display: inline-block;
    margin: 0 auto;

}

.header-contacts {
    text-align: right;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
}

.header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-menu li {
    display: inline-block;
    padding: 0;
    margin-right: 20px;
    position: relative;
}

.header-menu li:last-child {
    margin-right: 0;
}

.header-menu li a {
    
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #333;
}
.header-menu li a::after {
    content: "";
    display: none;
    border-bottom: 2px solid #333;
}

.header-menu li a:hover::after {
    display: block;
    margin-bottom: -2px;
}

.header-menu li a:active {
    opacity: 0.8;
}

.header-menu li a:active::after {
    opacity: 0.8;
}

/*стили главного содержимого*/

.features {
    display: block;
    
}

.features ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.features ul li {
    display: block;
    width: 200px;
    list-style: none;
}

.features ul h3 {
    text-align: center;
    margin-bottom: 20px;
}

.features ul p {
    display: block;
    margin: 0;
    padding: 0;
    height: 200px;
    background-color: #333;
}

.services ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.services ul li {
	display: block;
	min-height: 500px;
	margin-bottom: 60px;
    background-color: white;
    box-shadow: 3px 3px 10px 0px #888;
}

main h3 {
	margin: 0;
}

footer {
	background-color: #333;
	color: white;
    font-weight: bold;
	min-height: 100px;
}