/*Общие стили*/
.clearfix::after { /*отмета обтекания*/
    clear: both;
}

.wrapper { /*центровщик контента*/
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: sans-serif;
}

/*стили шапки*/

.page-header {
    padding-top: 10px;
    padding-bottom: 20px;
}

.header-top {
    display: flex;
    justify-content: space-around
    padding-bottom: 5px;
}

.header-top p {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
}

.header-description {
    text-align: left;
}

.header-logo {
    display: inline-block;
    margin: 0 auto;

}

.header-contacts {
    text-align: right;
}



.header-menu {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding: 10px;
    list-style: none;
    background-color: #333;
}
.header-menu li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.header-menu li:last-child {
    margin-right: 0;
}

.header-menu li a {
    
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.header-menu li a::after {
    content: "";
    display: none;
    border-bottom: 2px solid white;
}

.header-menu li a:hover::after {
    display: block;
    margin-bottom: -2px;
}

.header-menu li a:active {
    opacity: 0.8;
}

.header-menu li a:active::after {
    opacity: 0.8;
}

/*стили главного содержимого*/

main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main ul li {
	display: block;
	border: 1px solid #000;
	min-height: 100px;
	margin-bottom: 20px;
}

main h3 {
	margin: 0;
}

footer {
	background-color: #333;
	color: white;
	min-height: 100px;
}